.photo {
  float:right;
  padding:15px;
  width:150px;
  margin:100px;
  border:solid;
}
.highlight {
  color:rgb(78, 78, 158)
}
.type3{
  color:rgb(39, 39, 180);
}
.mango {
  float:right;
  width:70px;

}