.photo {
  float:Right;
  padding:2px;
  width:90px;
  border:solid;
  position:relative;
  top:-100px;
}
.highlight {
  color: #2a2d34
}
.highlight2 {
  color: blue
}
.type3{
  color:rgb(39, 39, 180);
}
.head{
  text-align: center;
}
.head2{
  text-align: left;
  margin-left: .25in;
}
.column1 {
  width:32%;
  height: 175px;
  float:left;
  margin: 7px;
  background-color:#f5f5f5;
  text-align:justify;
}
.column2 {
  width:32%;
  height: 175px;
  float:left;
  margin: 7px;
  background-color:#f5f5f5;
  text-align:justify; 
}
.column3 {
  width:32%;
  height: 175px;
  float:left;
  margin: 7px;
  background-color:#f5f5f5;
  text-align:justify;
}

.column4 {
  width: 100%;
  padding: 10px;
  border: #4c5c68;
  border-width: 1px;
  background-color: #b0b0b0; 
  margin-bottom:10px;
  box-sizing: border-box;
}